* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes showModal {
  from {
    margin-top: -400px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

label {
  font-size: 18px;
}

.container {
  width: 900px;
  margin: 20vh auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border-radius: 16px;
}

.form-container {
  width: 600px;
  padding: 40px 0;
}

.form-controller {
  margin: 20px 0;
}

.form-controller input {
  width: 100%;
  font-size: 18px;
  padding: 6px;
}

.form-controller .btn {
  width: 50%;
}

.form-controller .input-container {
  float: left;
}

/* Modal */
.m-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.m-modal-container {
  width: 900px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 16px;
  animation: showModal ease-in-out 0.5s;
}

.m-modal-header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #71be34;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.title {
  text-align: center;
  line-height: 80px;
}

.m-modal-main {
  width: 100%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}